
/* General layout */
html {
    margin: 0;
    padding:0;
    height:200%;  
}

body {
position: relative;
height: 100%;
width: 100%;

margin: 0;
padding:0;

background-image: linear-gradient(#000000, #282A3A);
color: white;
text-align: center;
font-family: 'Cutive Mono', monospace;
}

header {
    position: absolute;
    width: 100%;
    height: 50%;
    top:0;
}

main {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 10%;
}

footer {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom:0;
}


/* Elements */
hr {
    width:70%;
    border:none;
    height: 1px;
    background-color: rgb(138, 138, 138);
}

#border-header-main {
    position: absolute;
    bottom: 3%;
    left:15%;
}


/* Sections from top to bottom */
#nav-top {
    margin-top: 5px;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-right: solid 3px white;
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    display: inline-block;
    animation: animated-text 0.5s steps(20) 1s 1 normal both, animated-cursor 600ms steps(29) infinite;
    -webkit-animation: animated-text 0.5s steps(20) 1s 1 normal both, animated-cursor 600ms steps(29) infinite;
}

#greeting {
    position: absolute;
    top: 10%;
    left: 50%;
    width:90%;
    transform: translateX(-50%);
    word-spacing: 12px;
}

#description {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    max-width: min(600px,90%);
    line-height: 1.5em;
}

#nav-bot {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width:80%;
    height: 150px;
}

.header-link {
    display: inline-block;
    width: 20%;
    color: #bcbcbc;
    text-decoration: none;
    margin: 10px 0;
}

.header-link:hover {
    color: white;
}

.footer-link {
    display: inline-block;
    width: 25%;
    padding: 10px;
    color: #bcbcbc;
    text-decoration:none;
    margin: 10px 0;
    font-size: 1.2em;
}

.footer-link:hover {
    color: white;
}

.footer-link-border {
    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
}

#footer-content {
    position: absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    line-height: 18px;
}


/* Animations */
  @keyframes animated-text{
    from{width: 0;}
    to{width: 365px;}
  }

  @keyframes animated-cursor{
    from{border-right-color: white}
    to{border-right-color: transparent;}
  }